@page "/invoice"
@page "/invoice/{id:int}"
@using Append.Blazor.Printing
@inject IPrintingService PrintingService
@using System.Text
@using VietnamNumber;
@inject IWebHostEnvironment _webHostEnvironment

@if(customer != null && orderroom != null && orderroomdetails.Count > 0)
{
    <div id="printView" style="position: relative;"><div class="VATTEMP" ><div id="quantitypages" style="padding-left:0px"><div style="display: none;"><center></center></div><div class="page_a4 p1" style=""><div class="pagecurrent" id="1"><table class="headTable"><tbody><tr><td><table><tbody><tr><td style="width: 150px"><div id="logo"></div></td><td style="text-align: center;width: 580px;"><h2 style="color: red;margin-top: 12px;font-weight: bold;font-size: 22px;margin-bottom: 0px;">
									HÓA ĐƠN
								</h2><p style="font-style:normal;margin: 0;padding-top: 10px;padding-bottom: 2px;">
                                            Ngày
                                            <label><b class="input-date">@DateTime.Today.Day</b></label>
                                            tháng
                                            <label><b class="input-date">@DateTime.Today.Month</b></label>
                                            năm
                                            <label><b class="input-date">@DateTime.Today.Year</b></label></p><div name="page-count"></div></td><td style="width: 220px"><p style="font-weight: bold;font-size: 15px;line-height: 0px;">
                                    Số:
                                    <span class="number" style="color:#fb0303;font-size:20px">HĐ @orderroom.OrderroomId</span></p></td></tr></tbody></table></td></tr>
                                </tbody>
                                </table>
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                                Tên người mua: @UpperFirstChar(customer.UserName.ToString())</label>
                         </div>
                     </div>
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                                Tên khách sạn: @hotel.HotelName</label>
                         </div>
                     </div>
                 </div>  
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                                Địa chỉ: @customer.UserAddress.ToString()</label>
                        </div>
                     </div>
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                                Địa chỉ khách sạn: @hotelService.GetAddressHotel(hotel.HotelId)</label>
                        </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                            Số điện thoại:
                        </label><span><label class="input-name">@customer.UserPhone.ToString()</label></span></div>
                     </div>
                     <div class="col col-lg-6">
                           <div style="padding-top: 4px;"><label>
                            Thời gian đặt phòng: @DateTime.Parse(orderroom.OrderroomDate.ToString()).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</label>
                            </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                            Địa chỉ Email:
                        </label><span><label class="input-name">@customer.UserEmail.ToString()</label></span></div>
                     </div>
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                            Thời gian nhận phòng: @DateTime.Parse(orderroom.OrderroomDatestart.ToString()).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</label>
                        </div>
                     </div>
                 </div>  
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"> </div>
                     </div>
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                            Thời gian trả phòng: @DateTime.Parse(orderroom.OrderroomDateend.ToString()).ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</label>
                        </div>
                     </div>
                 </div> 
                 <div class="row">
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"> </div>
                     </div>
                     <div class="col col-lg-6">
                         <div style="padding-top: 4px;"><label>
                            Thời gian lưu trú: @totalday</label>
                        </div>
                     </div>
                 </div>               
                 
                <div style="padding-top: 4px;"></div>
                <div style="padding-top: 4px;"></div>
            </div><div class="statistics"><div class="nenhd" style="margin-top: 4px;"><div class="nenhd_bg" style="margin-top: -6px; margin-left: -26px"></div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="font-weight:bold; text-align: center;">
                            STT
                            <br></th>
                        <th style="font-weight:bold; text-align: center;">
                            Tên phòng
                            <br>
                        </th>
                        <th style="font-weight:bold; text-align: center;">
                            Đơn giá
                            <br>
                        </th>
                        <th style="font-weight:bold; text-align: center;">
                            Thành tiền
                            <br>
                        </th>
                    </tr>
                     
                         @if(orderroomdetails.Count > 0 && totalday > 0){
                             int stt = 1;
                             foreach (var item in orderroomdetails)
                             {
                                 <tr>
                                     <td>
                                         <div style="text-align: center;">@stt</div>
                                         @{stt++;}
                                     </td>
                                     <td>
                                         <div style="text-align: center;">@item.Room.RoomName</div>
                                     </td>
                                     <td>
                                         <div style="text-align: center;">@hotelService.FormatVND((int)GetPriceOfRoomWithDiscount(item.RoomId))</div>
                                     </td>
                                     <td>
                                         <div style="text-align: center;">@hotelService.FormatVND((int)(GetPriceOfRoomWithDiscount(item.RoomId) * totalday))</div>
                                     </td>
                                 </tr>
                             }
                         }
                    
                    <tr>
                        <td colspan="3" style="text-align: right; padding-right: 5px;height: 26px;">
                            <b>
                                Tổng: 
                            </b>
                        </td>
                        <td style="text-align: right; padding-right: 5px;">
                            <label style="padding-left: 20px; font-weight:bold">@hotelService.FormatVND((int)orderroom.OrderroomTotalprice)</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: none !important">
                            <div class="clearfix" style="">
                                <label class="fl-l" style="font-weight:bold">
                                    Số tiền viết bằng chữ:
                                </label>
                                <label class="fl-l input-name" style="font-style: italic;">@NumberToText((int)orderroom.OrderroomTotalprice) đồng</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <center>
                    <div class="bgimg" ></div>
                </center>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>
       </div>
    <RadzenButton Icon="get_app" Size="ButtonSize.Small" Text="In" Click="@(_ => PrintingService.Print("printView", PrintType.Html))"></RadzenButton>
}

@code {
    [Parameter]
    public int id{ get; set;}
    double totalday = 0;
    Orderroom orderroom = new Orderroom();
    List<Orderroomdetail> orderroomdetails = new List<Orderroomdetail>();
    User customer = new User();
    List<Typeofroom> typeofrooms = new List<Typeofroom>();
    List<Discountdetail> discountdetails = new List<Discountdetail>();
    List<Hotel> hotels = new List<Hotel>();
    Hotel hotel = new Hotel();

    DiscountdetailService discountdetailService = new DiscountdetailService();
    TypeOfRoomService typeOfRoomService = new TypeOfRoomService();
    HotelService hotelService = new HotelService();
    OrderroomService orderroomService = new OrderroomService();
    OrderroomDetailService orderroomDetailService = new OrderroomDetailService();
    UserService userService = new UserService();

    protected override async Task OnInitializedAsync()
    {
        typeofrooms = await typeOfRoomService.GetAllTypeOfRoom();
        orderroom = await orderroomService.GetOrderrom(id);
        totalday = (DateTime.Parse(orderroom.OrderroomDateend.ToString()) - DateTime.Parse(orderroom.OrderroomDatestart.ToString())).TotalDays;
        customer = await userService.GetUser(orderroom.UserPhone);
        orderroomdetails = await orderroomDetailService.GetAllOrderromDetailOfOrderrom(orderroom.OrderroomId);
        discountdetails = await discountdetailService.GetAllDiscountdetail();
        hotels = await hotelService.GetAllHotel();
        hotel = GetHotel(orderroomdetails.First().Room.HotelId);
        StateHasChanged();
    }
    protected Typeofroom GetTypeofroom(int id)
    {
        foreach (var item in typeofrooms)
        {
            if (item.TorId == id)
                return item;
        }
        return null;
    }
    protected Hotel GetHotel(int id){
        foreach (var item in hotels)
        {
            if (item.HotelId == id)
                return item;
        }
        return null;
    }
    protected int? GetPriceOfRoomWithDiscount(int id)
    {
        Typeofroom tor = new Typeofroom();
        foreach (var item in discountdetails)
        {
            if(item.Discount.DiscountDatestart <= orderroom.OrderroomDatestart && item.Discount.DiscountDateend >= orderroom.OrderroomDatestart && item.RoomId == id)
            {
                tor = GetTypeofroom(item.Room.TorId);
                return (tor.TorPrice - (tor.TorPrice / 100 * item.Percent));//???
            }
        }
        var room = orderroomdetails.First(od => od.RoomId == id).Room;
        return GetTypeofroom(room.TorId).TorPrice;
    }
    protected string NumberToText(int number)
    {
        var stringtemp = Number.ToVietnameseWords(number);
        char[] a = stringtemp.ToCharArray();
        a[0] = char.ToUpper(a[0]);
        for (var i = 1; i < a.Length; i++)
        {

            if(a[i] == ' ')
                a[i+1] = char.ToUpper(a[i+1]);
        }
        return new string(a);
    }
    protected string UpperFirstChar(string text)
    {
        char[] a = text.ToCharArray();
        a[0] = char.ToUpper(a[0]);
        for (var i = 1; i < a.Length; i++)
        {

            if(a[i] == ' ')
                a[i+1] = char.ToUpper(a[i+1]);
        }
        return new string(a);
    }
}
