@page "/orderroomdetail/{id:int}"
@layout Layout_Owner
@using ShareModel;
@using ShareModel.Custom

@if(orderroom.UserPhone != null)
{
    <div>
        <div class="section__content section__content--p30">
            <h3 style="text-align:center">Danh sách phòng được đặt</h3>
            <br />
            <p>Ngày nhận phòng: @DateTime.Parse(orderroom.OrderroomDatestart.ToString()).ToString("dd, MMMM, yyyy", new System.Globalization.CultureInfo("vi-VN"))</p>
            <p>Ngày trả phòng: @DateTime.Parse(orderroom.OrderroomDateend.ToString()).ToString("dd, MMMM, yyyy", new System.Globalization.CultureInfo("vi-VN"))</p>
            <br />
            <table class="table">
            <thead>
                <tr>
                    <th>
                        Tên phòng
                    </th>
                    <th>
                        Tầng
                    </th>
                    <th>
                        Sức chứa
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if(orderroomdetails.Count > 0 )
                {
                    foreach (var item in orderroomdetails)
                    {
                        <tr>
                            <td>
                                @item.Room.RoomName
                            </td>
                            <td>@GetFloor(item.Room.FloorId).FloorName</td>
                            <td>
                                @GetTypeofroom(item.Room.TorId).TorCapacity người
                            </td>
                            <td>
                            @if(orderroom.OrderroomDateend < DateTime.Now){
                                if(GetCustomerreview(item.RoomId) != null)
                                {
                                   <RadzenButton Text="Đã đánh giá" Click="() => ShowReviewRoomPopup(item.RoomId)" ButtonStyle="ButtonStyle.Success"></RadzenButton>
                                }
                                else
                                {
                                    <RadzenButton Text="Chưa đánh giá" Click="() => ShowReviewRoomPopup(item.RoomId)" ButtonStyle="ButtonStyle.Warning"></RadzenButton>
                                }
                            }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>
}


@code {
    [Parameter]
    public int id { get; set; }

    string phone = "";
    string checkReview = "";
    Orderroom orderroom = new Orderroom();
    List<Orderroomdetail> orderroomdetails = new List<Orderroomdetail>();
    List<Typeofroom> typeofrooms = new List<Typeofroom>();
    List<Floor> floors = new List<Floor>();
    List<Customerreview> customerreviews = new List<Customerreview>();

    OrderroomService orderroomService = new OrderroomService();
    OrderroomDetailService orderroomDetailService = new OrderroomDetailService();
    TypeOfRoomService typeOfRoomService = new TypeOfRoomService();
    HotelService hotelService = new HotelService();
    FloorService floorService = new FloorService();
    CustomerReviewService customerReviewService = new CustomerReviewService();

    protected override async Task OnInitializedAsync()
    {

    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            try
            {
                phone = await sessionStorage.GetItemAsync<string>("customer_phone");
                customerreviews = await customerReviewService.GetAllCustomerReview();
                orderroom = await orderroomService.GetOrderrom(id);
                orderroomdetails = await orderroomDetailService.GetAllOrderromDetailOfOrderrom(id);
                typeofrooms = await typeOfRoomService.GetAllTypeOfRoom();
                floors = await floorService.GetAllFloor();
                StateHasChanged();
            }
            catch(Exception ex)
            {
                Console.WriteLine(ex.ToString());
            }
        }

    }
    protected Typeofroom GetTypeofroom(int id)
    {
        foreach (var item in typeofrooms)
        {
            if(item.TorId == id)
            {
                return item;
            }
        }
        return null;
    }
    protected Floor GetFloor(int id)
    {
        foreach (var item in floors)
        {
            if(item.FloorId == id)
            {
                return item;
            }
        }
        return null;
    }
    protected Customerreview GetCustomerreview(int id)
    {
        foreach (var item in customerreviews)
        {
            if(item.RoomId == id && item.UserPhone == phone)
            {
                return item;
            }
        }
        return null;
    }
    protected async void ShowReviewRoomPopup(int id)
    {
        var res = await DialogService.OpenAsync<CustomerArea.CustomerReview.CustomerReview>(
            "",
            new Dictionary<string, object>() { { "id", id } },
            new DialogOptions() { Width = "700px", Height = "570px", Resizable = true, Draggable = true });
        if(res == 0){
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Thành công", Detail = "Thêm đánh giá thành công", Duration = 4000 });
            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Thành công", Detail = "Cập nhật đánh giá thành công", Duration = 4000 });
            StateHasChanged();
        }
    }
}
